<% if (post.original != false && !is_page()){ %>
    <div class="copyright">
        

        <p><span><%= __('post.title') %>:</span><a href="<%- url_for(post.path) %>"><%= post.title %></a></p>
        <p><span><%= __('post.author') %>:</span><a href="<%- config.root %>" title=""><%=theme.author%></a></p>
        <!-- <p><span><%= __('post.release') %>:</span><%= post.date.format("YYYY-MM-DD HH:mm") %></p>-->
        <p><span><%= __('post.update') %>:</span><%= post.updated.format("YYYY-MM-DD HH:mm") %></p>
        <p>
            <span><%= __('post.link') %>:</span><a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a>
            <!--<span class="copy-path" data-clipboard-text="原文: <%= post.permalink %>　　作者: <%=theme.author%>" title="asdasdasdadasd"><i class="fa fa-clipboard"></i></span>
            <script src="<%- config.root %>js/clipboard.min.js"></script>
            <script> var clipboard = new Clipboard('.copy-path'); </script> -->
        </p>
        <p>
            <span><%= __('post.agreement') %>:</span><i class="fa fa-creative-commons"></i> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="" target = "_blank">(CC BY-NC-SA 3.0)</a>
        </p>
    </div>
<% } %>

<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><</strong>
      <div class="article-nav-title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <div class="article-nav-title"><%= post.next.title %></div>
      <strong class="article-nav-caption">></strong>
    </a>
  <% } %>
</nav>
<% } %>